@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <!-- plugin css -->
    @Styles.Render("~/bundles/vectormap/jquery-jvectormap.css")

    <!-- App css -->
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/css/icons.min.css")
    @Styles.Render("~/bundles/css/app.min.css")
</head>
<body class="left-side-menu-dark">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            @Html.Partial("_Navbar")
        </div>
        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">
            @Html.Partial("_Sidebar")
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                @RenderBody()
            </div> <!-- content -->
            <!-- Footer Start -->
            <footer class="footer">
                @Html.Partial("_Footer")
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page contentt -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- Right Sidebar -->
    <div class="right-bar">
        @Html.Partial("_Rightbar")
    </div>
    <!-- /Right-bar -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- Vendor js -->
    @Scripts.Render("~/bundles/js/vendor.min.js")

    @Scripts.Render("~/bundles/lib/apexcharts/apexcharts.min.js")
    @Scripts.Render("~/bundles/lib/jquery-sparkline/jquery.sparkline.min.js")
    @Scripts.Render("~/bundles/lib/jquery-vectormap/jquery-jvectormap-1.2.2.min.js")
    @Scripts.Render("~/bundles/lib/jquery-vectormap/jquery-jvectormap-world-mill-en.js")

    <!-- Peity chart-->
    @Scripts.Render("~/bundles/libs/peity/jquery.peity.min.js")
    <!-- init js -->
    @Scripts.Render("~/bundles/js/pages/dashboard-2.init.js")

    <!-- App js -->
    @Scripts.Render("~/bundles/js/app.min.js")

</body>
</html>