@using System.Web.Optimization

<!DOCTYPE html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/fonts/material-icon/css/material-design-iconic-font.min.css">
    @Styles.Render("~/regBundle/css/styleRegistration.css")
</head>
<body>

    <div class="main">
        @RenderBody()
    </div>
    @Scripts.Render("~/regBundle/js/mainRegistration.js")
    @Scripts.Render("~/regBundle/lib/jquery/jquery.min.js")
</body>
</html>