@model List<SmartStore.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@using System.Web.Optimization
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link rel="stylesheet" href="~/Content/assets/css/swiper.min.css" />
</head>
<body>
    <div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-slider-default-2rows default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container product-default-slider-4grid-2row">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Start Product Default Single Item -->
                                @foreach (var product in Model)
                                {
                                    <div class="product-default-single-item product-color--pink swiper-slide">
                                        <div class="image-box">
                                            <a href="@Url.Action("Index", "Home")" class="image-link">
                                                <img src="@product.ProductPicture" alt="">
                                            </a>
                                            <div class="tag">
                                                <span>sale</span>
                                            </div>
                                            <div class="action-link">
                                                <ul class="card-product__imgOverlay">
                                                    <li>
                                                        <form class="add-to-cart-form">
                                                            <input type="hidden" name="productId" value="@product.ID" />
                                                            <button type="button" class="add-to-cart-btn" style="color:white">
                                                                <i class="ti-shopping-cart"></i> Добавить в корзину
                                                            </button>
                                                        </form>
                                                    </li>
                                                </ul>
                                                <div class="action-link-right">
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modalQuickview">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                    <a href="wishlist.html"><i class="icon-heart"></i></a>
                                                    <a href="compare.html"><i class="icon-shuffle"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-left">
                                                <h6 class="title">
                                                    <a href="@Url.Action("Index", "Home")">
                                                        @product.ProductName
                                                    </a>
                                                </h6>
                                                <ul class="review-star">
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="empty"><i class="ion-android-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="content-right">
                                                <span class="price">$@product.ProductPrice</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@Scripts.Render("~/homeBundle/assets/js/vendor/jquery-3.5.1.min.js")
<script>

        $('.add-to-cart-btn').click(function (e) {
            e.preventDefault(); // Prevent default form submission

            var productId = $(this).closest('form').find('input[name="productId"]').val();

            // Send AJAX request to server
            $.ajax({
                url: '@Url.Action("AddProductToCart", "Home")', // URL of your controller method to add to cart
                method: 'POST',
                data: { productId: productId, quantity: 1 },
                success: function (response) {
                    if (response.success) {
                        alert('Товар успешно добавлен в корзину!');
                        // Additional actions after successful addition
                    } else {
                        alert('Ошибка при добавлении товара в корзину: ' + response.errorMessage);
                    }
                },
                error: function (errorData) {
                    alert('Ошибка при добавлении товара в корзину.');
                }
            });
        });
</script>
